:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  width: 80%;
  margin: 0 auto;
}

.header-background,
.footer-background {
  background: black;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
}

.footer {
  padding: 2rem 1rem;
}

.footer nav {
  display: flex;
  justify-content: space-around;
}

.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
}

li:first-child {
  font-weight: bold;
}

.index {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
}

.index h1 {
  text-align: center;
}

.about-us {
  padding: 1rem;
}

.daily-deal {
  color: black;
  display: flex;
  padding: 1rem;
}

.daily-deal img {
  width: 200px;
  height: auto;
}

.daily-deal-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.daily-deal-add-to-cart {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}
