:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  width: 80%;
  margin: 0 auto;
}

.header-background, .footer-background {
  background: black;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
}

.footer {
  padding: 2rem 1rem;
}

.footer nav {
  display: flex;
  justify-content: space-around;
}

.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
}

li:first-child {
  font-weight: bold;
}